/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* custom */
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;
    border: 1.2rem dotted tomato;
}
header {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.user, .computer {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
    font-weight: bolder;
}
.users-choice, .computers-choice {
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 2rem;
}
.icons {
    text-align: center;
    display: flex;
    margin-bottom: 2rem;
}
.icons i {
    font-size: 5rem;
    margin-left: 1rem;
}
.active i {
    color: lawngreen;
}
.winner {
    color: black;
    font-size: 1.5rem;
}
.score-box {
    font-size: 2rem;
}
.score {
    width: 10rem;
    font-size: 1.2rem;
}
.box {
    display: flex;
    justify-content: space-between;
    width: 17rem;
    margin-top: 2rem;
}
button {
    background-color: tomato;
    color: white;
    padding: 0 1.2rem;
    font-size: 1.5rem;
    border: .2rem dashed grey;
}
.active i {
    color: rgb(255, 0, 0);
}
